.app-container {
    display: flex;
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    position: fixed;
    margin-top: 60px;
    overflow: hidden;
}

.main-content {
    width: 80vw;
    padding: 2rem;
    background-color: #f9f9f9;
    overflow: scroll;
    /* border: 1px solid red; */
    /* height: 90vh; */
    margin-bottom: 50px;
}

.main-content::-webkit-scrollbar{
    /* display: none; */
}

.sidebar {
    width: 20vw;
    background-color: #20232a;
    color: white;
    padding: 2rem 1rem;
    height: 100%;
    /* border: 1px solid red; */
    position: fixed;
}

.sidebar h2 {
    margin-bottom: 2rem;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 1rem 0;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 4px;
    transition: background 0.2s;
}

.sidebar li:hover {
    background-color: #282c34;
}

.boxes {
    margin-top: 30px;
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.insideBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    padding:20px 50px 5px 50px;  
    background-color: #e0e0e0;
}

.charts {
    margin-top: 30px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 20px;
    /* border: 1px solid red; */
    width: 95%;
}

.groupChart,
.doughnutChart {
    border: 1px solid grey;
    height: 50vh;
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.posts{
    /* border: 1px solid red; */
    /* height: 95vh; */
    margin-bottom: 40px;
    width:75vw;

}

table{
    width: 100%;
}
table,th,td{
    border: 2px solid black;
    padding: 8px;
    font-weight: 300;
}
.postTable .head th{
    font-weight: 900;
    text-align: center;
}

.managePosts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* border: 1px solid red; */
    width:75vw;
    margin: 30px 20px 10px 20px;
}

.inpDiv{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* border: 1px solid red; */
    height: 4rem;
}
.inp{
    border-radius: 20px;
    padding:1px 15px;
}

.mainDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 70px;
}
.mainDiv1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
}

.navlink{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.navlink .active{
    color:wheat;
   border: 1px solid rgb(152, 150, 150);
   background-color: #282c34;
}

.navlink:hover{
    text-decoration: none;
    color: goldenrod;
}
.heading1{
    text-decoration: none;
    color: white;
    font-family: 'serif';
    letter-spacing: 5px;
    border-bottom: 1px solid white ;
    padding-bottom: 15px;
    text-shadow: 0 2px 5px #fff;
}