.img1{
    width: 100vw;
    object-fit: fill;
    filter: brightness(40%);
    /* border: 2px solid black; */
    height: 100%;
}

.content{
    transform: translateY(-85vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.txt{
    margin: 0 15vw;
}
.txt1{
    margin: 0 10vw;
}