
  /* Form Container */
  .form-container1 {
    background-color: #ffffff;
    border-radius: 8px;
    width: 70vw;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  
  .form-header1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .form-header-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .form-header-det{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .profile-image1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
  }
  
  .h2 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .p2 {
    font-size: 1rem;
    color: #777;
  }
  
  /* Form Body */
  .form-body1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 20px;
  }
  
  .label2 {
    font-size: 0.8em;
    font-weight: 600;
    color: #555;
    text-align: left;
  }
  
  .input2 {
    padding: 8px 15px;
    font-size: 0.9rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
    width: 100%;
  }
  
  .input2:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.4);
  }
  
  .input2::placeholder {
    color: #bbb;
  }
  
  .submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #45a049;
  }
  
  .submit-btn:focus {
    outline: none;
  }
  
  @media (max-width: 600px) {
    .form-container1 {
      padding: 20px;
      width: 90%;
    }
  }
  
  .uprDiv{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .side{
  /* border: 1px solid red ; */
  width: 100%;
  display: flex;
  justify-content: space-between;
align-items: center;
}

.handle{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 20px;
  row-gap: 20px;
  /* border: 1px solid red; */
}