@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');

.container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    padding: 30px;
    /* border: 1px solid red; */
    width: 100%; 
    place-items: center;
    margin-top: 80px;
  }
  
  /* 
.square:hover {
    -webkit-transform: translate(20px, -10px);
    -ms-transform: translate(10px, -10px);
    transform: translate(10px, -10px);
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
     } */

.square {
  position: relative; 
  width: 90%;
  height: 100%; 
  background: white;
  border-radius: 4px;
  box-shadow: 0px 20px 50px #D9DBDF;
  border: 1px solid red;
  padding-bottom: 60px; 
}


/* .mask{
  clip: rect(0px, 460px, 220px, 0px);
  border-radius: 4px;
  position: absolute;
  width: 100vw;
  
} */

.img6{
  width: 100%;
  object-fit: cover;
  height: 30vh;
  }

.h2{
  text-align: left;
  margin-top: 20px;
  padding-left: 30px;
  
  font-family: 'Merriweather', serif;
  font-size: 20px;
}
.p{
 text-align: justify; 
 padding-left: 30px;
 padding-right: 30px;
 font-family: 'Open Sans', sans-serif;
 font-size: 12px;
 color: black;
 line-height: 18px;
}

.btn3 {
  background-color: #3EDD84;
  color: white;
  width: 90px;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
  font-family: 'Merriweather';
  margin: 0 10px;
}

.btnDiv {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: white; 
  border-top: 1px solid #ccc;
}
